body {
  padding: 0px;
  background-color: black;
}

.curtain {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("resources/curtain.jpg");
  background-size: cover;
  background-position: center bottom;
}

.curtain:hover {
  transform: translateY(-5%);
  transition: transform 0.2s ease;
}

.curtain.active {
  transform: translateY(-100%);
  transition: transform 1s ease;
}

.lamp {
  position: absolute;
  top: 117px;
  left: 50%;
  transform: translateX(-50%);
  width: 125px;
  cursor: pointer;
}

img {
  width: 100%;
  height: 100%;
}

.hang {
  position: absolute;
  top: 85px;
  left: 130px;
}

.hang_patch {
  position: absolute;
  top: 40px;
  right: 101px;
  background-color: rgb(0, 0, 0);
  width: 25px;
  height: 25px;
}

.hang_wire {
  position: relative;
  background-color: rgb(76, 76, 75);
  width: 2px;
  height: 50px;
  right: 97px;
}

.hang_ball {
  position: relative;
  top: 0px;
  right: 101px;
  background-color: rgb(226, 201, 98);
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.light {
  position: absolute;
  top: 136px;
  left: 50%;
  transform: translateX(-50%);
  border-left: 400px solid transparent;
  border-right: 400px solid transparent;
  border-bottom: 520px solid rgb(255, 255, 0, 0.5);
  width: 124px;
  border-top: 50px solid transparent;
  background-color: rgba(0, 0, 255, 0);
  pointer-events: none;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s ease;
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: all 0.2s ease;
}

.wizard {
  position: absolute;
  top: 475px;
  left: 50%;
  transform: translateX(-95%);
  width: 250px;
}

.hat {
  position: absolute;
  top: 560px;
  left: 44%;
  transform: translateX(70%);
  height: 150px;
}

.pigeon {
  position: absolute;
  top: 400px;
  left: 50%;
  width: 150px;
  height: 150px;
}

.rabbit {
  position: absolute;
  top: 400px;
  left: 50%;
  width: 150px;
  height: 150px;
}

.putInHat {
  transform: translate(70%, 50px);
  opacity: 0;
  transition: all 0.5s ease;
}

.pullOutOfHat {
  transform: translate(70%, 0px);
  opacity: 1;
  transition: all 0.5s ease;
}