@{
    ViewData["Title"] = "Home Page";
}
 
<div class="containerr">
<main class="mainhome">
    
    <h1>Form parameters parsing demo</h1>
    <ul>
            <li><a href="Home/ManualParsingSingleAction">Manual parsing in single action</a></li>
            <li><a href="Home/ManualParsingSeparateAction">Manual parsing in separate action</a></li>
            <li><a href="Home/ModelBindingParameters">Model binding (parameters)</a></li>
            <li><a href="Home/ModelBindingSeparateModel">Model binding (separate model)</a></li>
    </ul>
</main>
</div>