html {
    box-sizing: border-box;
    height: 100%;
}

*, 
*::before,
*::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    height: inherit;
}
.wrapper {
    
    padding: 20px;
    border: 2px solid blue;
    margin: 10px;
    flex-basis: 400px;
    height: 340px;
}

.screen {
    font-size: 30px;
    border: 1px solid black;
    padding: 5px;
    text-align: right;
}

.calc_buttons {
    display: flex;
}

.calc_buttons_rows {
    flex-basis: 80%;
}

.calc_buttons_columns {
    flex-basis: 20%;
}

.calc_buttons_row {
    display: flex;
    justify-content: space-between;
    margin: 5% 0%;
}

.calc_buttons_column {
    padding: 20% 20%;
    padding-right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.calc_button {
    flex-basis: 20%;
    font-size: 25px;
    height: 50px;
}

.double {
    flex-basis: 47%;
}
