@{
    ViewBag.Title = "Home Page";
    Layout = "_Layout";
}
<div class="container">
    <div class="content">
        <span style="font-weight:600">Calc Service Demonstration</span>
        <ul class="main-list">
            <li><a href="/CalcService/PassUsingModel">Using Model Calc</a></li>
            <li><a href="/CalcService/PassUsingViewData">Using ViewData Calc</a></li>
            <li><a href="/CalcService/PassUsingViewBag">Using ViewBag Calc</a></li>
            <li><a href="/CalcService/AccessServiceDirectly">Using Service Injection Calc</a></li>
        </ul>
    </div>
    <div class="bottom-line"></div>
    <div class="copyright">
        © 2025 - Backend1
    </div>
</div>
