body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 50%;
    margin: 0 auto
}

.horizontal-container {
    display: flex;
}

button {
    flex: 1;
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
    background-color: red;
    border: 2px solid black;
}

.content {
    display: flex;
    flex: 1;
    height: 100%;
}

.column {
    padding: 3%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
}

.column img {
    height: 70%;
    max-width: 100%;
    display: inline-block;
}

.blue {
    background-color: blue;
    width: 50%;
    height: 50%;
}

.green {
    background-color: green;
    width: 50%;
    height: 50%;
}
