.rectangle {
    position: absolute;
    height: 50px;
    width: 50px;
    background: red;
    border: 2px solid #000000;
}

.triangle {
    position: absolute;
    width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-bottom: 100px solid blue;
}

.circle {
    position: absolute;
    height: 50px;
    width: 50px;
    background: green;
    border-radius: 50%;
    border: 2px solid #000000;
}